/* 全局样式 */
body {
    color: #f5f5f5;
    font-family: 'Arial', sans-serif;
    background-image: url('../img/header-bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

/* 头部样式 */
header {
    width: 100%;
    padding: 20px 0;
    background-color: rgba(63, 63, 63, 0.2);
    text-align: center;
}

/* 父手风琴样式 */
.my-skills {
    display: flex;
    flex-direction: column; /* 修改为纵向排列 */
    align-items: center; /* 水平居中对齐 */
}

.skill-item {
    width: 100%; /* 设置宽度为100% */
    margin-bottom: 30px; /* 添加下方间距 */
}

/* 手风琴样式调整 */
.accordion-item {
    background: rgba(63, 63, 63, 0.3);
    border-radius: 5px;
    padding: 10px;
}

/* 父手风琴按钮样式 */
.accordion-button {
    font-size: 1.8em;
    background: transparent;
    border: none;
    text-align: left;
    width: 100%;
    cursor: pointer;
    padding: 10px;
    transition: transform 0.3s ease;
    color: #fff; /* 将字体颜色设置为奶白色 */
    margin-left: 100px; /* 添加左边距 */
}

/* 激活状态时手风琴按钮的样式 */
.accordion-button.active {
    transform: scale(1.1);
    font-weight: bold; /* 将按钮文本设置为粗体 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* 添加阴影效果 */
    background-color: rgba(0, 75, 126, 0.8); /* 修改背景色 */
 
}

.accordion-button:hover {
    background-color: rgba(0, 75, 126, 0.8);
    color: #fff; 
}

/* 子手风琴内容默认隐藏 */
.accordion-content {
    display: none;
}

/* 激活状态时显示子手风琴内容 */
.accordion-item.active .accordion-content {
    display: block;
}

/* 子手风琴按钮样式 */
.accordion-content .accordion-button {
    font-size: 1em;
    color: #fff; /* 将字体颜色设置为奶白色 */
    margin-left: 200px; /* 添加左边距 */
}

/* 响应式设计 */
@media (max-width: 900px) {
    .skill-item {
        flex-basis: calc(50% - 20px);
    }
}

@media (max-width: 600px) {
    .skill-item {
        flex-basis: 100%;
    }
}

.about-me {
    padding: 20px;
    margin: auto; /* 水平居中 */
    width: 30%; /* 宽度为屏幕宽度的60%,你可以根据需要调整这个值 */
    max-width: 600px; /* 也可以设置一个最大宽度 */
    box-sizing: border-box; /* 确保内边距和边框包含在宽度内 */
    background-color: rgba(86, 16, 165, 0.6);
}

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-content {
    text-align: center;
}

/* 子手风琴内容样式 */
.accordion-content img {
    max-width: 140vh; /* 图像最大宽度为父元素宽度的百分之百 */
    height: auto; /* 图像高度自动调整以保持宽高比 */
    width: auto; /* 图像宽度自动调整以保持宽高比 */
    display: block; /* 将图像设置为块级元素 */
    margin-bottom: 20px;
    max-height: 120vh; /* 图像的最大高度为屏幕高度的百分之八十 */
}
.project-card {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 宽高比 */
    overflow: hidden;
  }
  
  .project-card-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
  }
  .project-info {
    position: absolute;
    bottom: 41%;
    left: 0;
    right: 0;
    width: 80%; /* 调整项目信息卡片的宽度 */
    margin: 0 auto; /* 水平居中项目信息卡片 */
    text-align: center;
    color: #fff; /* 将字体颜色设置为奶白色 */
    padding: 20px;
    background-color: rgba(63, 63, 63, 0.3);
  }

  .project-info a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: rgba(63, 63, 63, 0.8);
  color: #fff; /* 将字体颜色设置为奶白色 */
  text-decoration: none;
  font-size: 26px;
  font-weight: bold;
  border-radius: 5px;
}

.project-info a:hover {
  background-color: #000000;
  color: #ffffff;
}

.project-card.project2 {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 宽高比 */
    overflow: hidden;
}

.project-card.project2 .project-card-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
}

.project-card.project2 .project-info {
    position: absolute;
    bottom: 20%;
    left: 41%;
    right: 0;
    width: 50%; /* 调整项目信息卡片的宽度 */
    margin: 0 auto; /* 水平居中项目信息卡片 */
    text-align: center;
    color: #000000; /* 将字体颜色设置为奶白色 */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
}

.project-card.project2 .project-info a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #000000; /* 将字体颜色设置为奶白色 */
    text-decoration: none;
    font-size: 26px;
    font-weight: bold;
    border-radius: 5px;
}

.project-card.project2 .project-info a:hover {
    background-color: #000000;
    color: #ffffff;
}
.skills {
    width: 100%;
    padding: 50px 0;
  }
  
  .project-title-container {
    width: 100%;
    height: 400px; /* 根据需要调整高度 */
    background-image: url('https://i.ibb.co/xs7kcPt/Adobe-Stock-569454166.jpg'); /* 替换为你的背景图片URL */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .project-title-container h2 {
    color: #ffffff; /* 根据需要调整标题颜色 */
    font-size: 48px; /* 根据需要调整标题字体大小 */
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 添加文字阴影以提高可读性 */
  }

  .center-content {
    width: 100%;
    height: 400px; /* 根据需要调整高度 */
    background-image: url('https://i.ibb.co/xs7kcPt/Adobe-Stock-569454166.jpg'); /* 替换为你的背景图片URL */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .center-content h2 {
    color: #ffffff; /* 根据需要调整标题颜色 */
    font-size: 48px; /* 根据需要调整标题字体大小 */
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 添加文字阴影以提高可读性 */
  }

  /* 添加header-container样式以实现并排布局 */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%; /* 确保容器填满整个宽度 */
    padding: 20px;
}

/* 调整profile样式 */
.profile {
    display: flex;
    flex-direction: column;
    align-items: center; /* 使头像和姓名垂直居中对齐 */
    padding-right: 20px; /* 根据需要调整，确保和About Me部分有些间隔 */
}

/* 调整avatar图片样式，如果需要的话 */
.avatar {
    width: 100px; /* 或其他尺寸 */
    border-radius: 50%; /* 创建圆形头像 */
    margin-bottom: 10px; /* 添加一些间隔 */
}